.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000000;
  border: 1px solid #e5ddd5;

  &:hover {
    border: 1px solid #d5c9bd;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
  }
}
