.page-title {
  background-color: #f8f5f2;
}

.page-title__title {
  margin: 0;
  padding: 30px 20px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-title__button {
  display: none;
}
