.works {
  margin: 0 auto;
  padding: 0;

  background-color: #f8f5f2;
  color: #000000;

}



.works__item {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.works__item__image-wrapper {
  margin: 0;
  padding: 0;

}
